* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url("img/rock.png");
}

header {
    padding: 20px 0px;
    text-align: center;
    font-size: 50px;
    border: 1px solid purple;
    background-color: rgb(255, 253, 152);
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

.result {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}

.result .player-score,
.result .computer-score {
    border: 1px solid red;
    border-radius: 15%;
    height: 200px;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.player-score-box,
.text,
.computer-score-box {
    text-align: center;
    border: 1px solid red;
    font-size: 24px;
}

.player-score-box,
.computer-score-box {
    font-size: 48px;
}

.again{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

.play-again{
    height: 40px;
    width: 180px;
    display: none;
}

.selections {
    border: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.selection {
    min-height: 100px;
    min-width: 100px;
}

.result-panel {
    margin: 30px;
    border: 1px solid pink;
    min-height: 100px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-top: thick inset #e2ff91;
    border: thick ridge #e2ff91;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.button#rock {
    background-image: url("../img/rock.png");
    background-size: cover;
}

.button#paper {
    background-image: url("../img/paper.png");
    background-size: cover;
}

button#scissors {
    background-image: url("../img/scissors.png");
    background-size: cover;
}

.play-again{
    background-color: rgb(255, 240, 191);
}
button:hover {
    transform: scale(1.04, 1.04);
}

button:active {
    box-shadow: 0 10px 14px #666;
    transform: scale(0.98, .98);
}

