* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

header {
    padding: 20px 0px;
    text-align: center;
    font-size: 50px;
    border: 1px solid purple;
    background-color: rgb(255, 253, 152);
    font-family: 'EB Garamond', serif; 
    font-weight: bold;
}

.result {
    padding: 70px 0;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 15px 0;
}

.result .player-score,
.result .computer-score {
    border: 1px solid red;
    border-radius: 15%;
    height: 200px;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.player-score-box,
.text,
.computer-score-box {
    text-align: center;
    border: 1px solid red;
    font-size: 24px;

}

.player-score-box,
.computer-score-box {
    font-size: 48px;
}

.selections {
    border: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.selection {
    min-height: 100px;
    min-width: 100px;
}

.result-panel {
    margin: 30px;
    border: 1px solid pink;
    min-height: 100px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 200px;
    width: 200px;
}
button#rock{
    background-image: url(img/rock.png);
}

button#paper{
    background-image: url(img/paper.png);
}

button#scissors{
    background-image: url(img/scissors.png);
}
